{% extends 'main/main.html' %}
{% load main_tags %}

{% block content %}
<h1>Итоговая сумма заказа: {{ order.0.order.coast }} руб. </h1>
{% if order.0.order.box == True %}
	<p class="link-add-box" ><a href="{{ order.0.order.get_absolute_url }}">Оформить заказ</a></p>
{% else %}
		{% if order.0.order.pay_it == True %}
			<p class="link-pay-post" >Оплачено</p>
		{% else %}
			<p class="link-add-box" ><a href="{% url 'pay_order' order.0.order.id %}">Оплатить</a></p>
		{% endif %}
{% endif %}

<ul class="list-articles">
	{% for o in order %}
	<li><div class="article-panel">
	<p class="first">{{p.cat}}</p>
	</div>

	{% if o.item.image %}
		<p><img class="img-article-left thumb" src="{{ o.item.image.url }}"></p>
	{% endif %}

	<li><h2>{{o.item.name}}</h2>
	{% autoescape on %}
	{{o.item.p_text|linebreaks|truncatewords:40}}
	{% endautoescape %}
	<div class="clear"></div>
	<p>Цена: {{o.item.coast}} руб.</p>
	<p>количество в корзине: {{ o.i_count }}</p>

	<p class="link-read-post"><a href="{{ o.item.get_absolute_url }}">Подробней</a>

	</li>
	{% endfor %}
</ul>

{% endblock %}
